<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}

    <p>{{welcomeMessage}} {{name}}</p>
    <p>According to your profile you like {{likes}}</p>
    <p>{{screamIt name}}
    <p>{{screamIt "hey there, pay attention"}}</p>
    {{> footer}}
  </body>
</html>
